
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>About - Replasify</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon (2).png' %}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Marcellus:wght@400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>
<main class="main">
<body class="about-page">

      {% include 'header.html' %}
      <app>
        
    
        <div class="dropdown-content d-none"><div class="row mt-lg-4 mt-3 justify-content-lg-center gx-8 px-lg-8" style="min-width: min(1000px,100vw);" b-11aoknir5q><div class="col-lg-3 col-12" b-11aoknir5q><div class="title-md pb-4 fg-success-2 border-bottom container-border-success me-8 mb-5" b-11aoknir5q>For Individuals</div>
                <div class="row" b-11aoknir5q><div class="col-12" b-11aoknir5q><div class="d-lg-flex flex-column" b-11aoknir5q><div class="link" b-11aoknir5q><a href="/individual" b-11aoknir5q>Scrap Collection<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div></div>
                <div class="row" b-11aoknir5q><div class="col-12" b-11aoknir5q><div class="d-lg-flex flex-column" b-11aoknir5q><div class="link" b-11aoknir5q><a href="/services/zero-waste-society" b-11aoknir5q>Zero Waste Society<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div></div>
                <div class="row" b-11aoknir5q><div class="col-12" b-11aoknir5q><div class="d-lg-flex flex-column" b-11aoknir5q><div class="link" b-11aoknir5q><a href="/services/vehicle-scrapping-service" b-11aoknir5q>Vehicle Scrapping<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div></div></div>
              <div class="col-lg-6 col-12" b-11aoknir5q><div class="title-md pb-4 fg-success-2 border-bottom container-border-success me-8 mb-5" b-11aoknir5q>For Businesses</div>
                <div class="row w-auto" b-11aoknir5q><div class="col-lg-4 col-12" b-11aoknir5q><div class="d-lg-flex" b-11aoknir5q><div class="link" b-11aoknir5q><a href="/services/scrap-collection" b-11aoknir5q>Scrap Collection <span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div>
                  <div class="col-lg-4 col-12" b-11aoknir5q><div class="d-lg-flex" b-11aoknir5q><div class="link" b-11aoknir5q><a href="/services/circular-economy-services" b-11aoknir5q>Circular Economy<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div>
                  <div class="col-lg-4 col-12" b-11aoknir5q><div class="d-lg-flex" b-11aoknir5q><div class="link" b-11aoknir5q><a href="/services/csr-services" b-11aoknir5q>CSR Services<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div></div>
                <div class="row" b-11aoknir5q><div class="col-lg-4 col-12" b-11aoknir5q><div class="d-lg-flex" b-11aoknir5q><div class="pb-6 link" b-11aoknir5q><a href="/services/epr-service" b-11aoknir5q>EPR services<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div>
                    <div class="col-lg-4 col-12" b-11aoknir5q>
                      <div class="d-lg-flex" b-11aoknir5q>
                        <div class="link" b-11aoknir5q>
                          <a href="/services/zero-waste-service" b-11aoknir5q>Zero Waste<span class="d-lg-none" b-11aoknir5q> 
                          </span></a></div></div></div>
                    <div class="col-lg-4 col-12" b-11aoknir5q>
                      <div class="d-lg-flex" b-11aoknir5q>
                        <div class="link" b-11aoknir5q>
                          <a href="/services/zero-waste-events" b-11aoknir5q>Zero Waste Event<span class="d-lg-none" b-11aoknir5q></span>
                          </a></div></div></div></div>
                    <div class="row" b-11aoknir5q><div class="col-lg-4 col-12" b-11aoknir5q><div class="d-lg-flex" b-11aoknir5q><div class="pb-6 link" b-11aoknir5q><a href="/services/dismantling-service" b-11aoknir5q>Dismantling<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div>
                      <div class="col-lg-4 col-12" b-11aoknir5q><div class="d-lg-flex" b-11aoknir5q><div class="link" b-11aoknir5q><a href="/services/shredding-service" b-11aoknir5q>Paper Shredding<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div>
                      <div class="col-lg-4 col-12" b-11aoknir5q></div></div></div>
                  <div class="col-lg-3 col-12" b-11aoknir5q><div class="title-md pb-4 fg-success-2  border-bottom container-border-success me-8 mb-5" b-11aoknir5q>For Governments</div>
                    <div class="row" b-11aoknir5q><div class="col-12" b-11aoknir5q><div class="d-lg-flex flex-column" b-11aoknir5q><div class="link" b-11aoknir5q><a href="/services/material-recovery-facility" b-11aoknir5q>Material Recovery Facility<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div></div>
                    <div class="row" b-11aoknir5q><div class="col-12" b-11aoknir5q><div class="d-lg-flex flex-column" b-11aoknir5q><div class="link" b-11aoknir5q><a href="/services/iec-services" b-11aoknir5q>IEC<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div></div>
                    <div class="row" b-11aoknir5q><div class="col-12 pe-0 ps-4" b-11aoknir5q><div class="d-lg-flex flex-column" b-11aoknir5q><div class="link" b-11aoknir5q><a href="/services/deposit-refund-system" b-11aoknir5q>Deposit Refund System (DRS)<span class="d-lg-none" b-11aoknir5q> →</span></a></div></div></div></div></div></div></div></nav></div>
    <main class="content pt-13" b-sflvd4qzb0><div class="container"><h3 class="m-2">
            About Us
        </h3>
        <div class="pt-4 body-lg m-2">
           <p> Welcome to Replasify — a platform where sustainability is a shared journey! Whether you’re an individual looking to make eco-friendly choices or a business aiming to embrace responsible practices, we’re here to support you in reducing plastic waste.
           </p>
           <p>
            Our mission is to create a world where plastic waste no longer pollutes our planet. For individuals, we offer simple and effective recycling solutions that make a difference. For businesses, we provide innovative ways to manage plastic waste and adopt sustainable practices that align with your corporate values.
           </p>
           <p>
            At Replasify, we believe in collaboration. Together, we can transform discarded plastics into valuable resources and build a cleaner, greener future for generations to come. Join us in this movement—because every effort, big or small, brings us closer to a sustainable tomorrow. 
           </p>
        </div></div>
    
    <div class="container"><h4 class="pt-10 m-2 fg-default-2">
            Our Core Values
        </h4>
        <div class="pt-4 m-2 row d-flex justify-content-between"><div class="me-lg-7 mt-4 p-8 col-lg-3 col-12 flex-grow-1 rounded-6 container-bg-2"><h5 class="pt-6 px-4  fg-success-1">
                    Vision 
                </h5>
                <div class="px-4 body-lg">
                    Our vision is to bring a circular economy into a reality where used products are manufactured into new products to minimize the over-exploitation of natural resources and maximize recycling.
                </div></div>
            <div class="me-lg-7 mt-4 p-8 col-lg-3 col-12 flex-grow-1 rounded-6 container-bg-2"><h5 class="pt-4 px-4 fg-success-1">
                    Mission 
                </h5>
                <div class="px-4 body-lg">
                    Our mission is to make a world where nothing is wasted, the communities from around the globe building an eco-system of sustainable living through doing the right waste treatment that is to get it recycled. 
                </div></div>
            <div class="me-lg-4 mt-4 p-8 col-lg-3 col-12 flex-grow-1 rounded-6 container-bg-2"><h5 class="pt-4 px-4 fg-success-1">
                    Goal 
                </h5>
                <div class="px-4 body-lg">
                    Through continuous innovation of technology, our goal is to make recycling achievable and accessible to all, from institutions to individuals. 
                </div></div></div></div>
    <div class="container"><h4 class="pt-10 m-2 fg-default-2">
            Our Belief
        </h4>
        <div class="pt-4 m-2 body-lg">
            We believe that India can be a greener and cleaner country, as every household commits to getting their dry scrap recycled,  not only resources can be saved from over-exploitation, but the landfills with mixed harmful garbage can be eradicated. 
        </div>
        <div class="pt-4 m-2 row position-relative"><div class="pt-4 pb-4"><img src="/images/aboutus/about-us-waste-dump.webp" class="rounded-6 d-lg-none mw-100 h-auto w-auto" alt="About us"></div>
            <div class="mt-lg-12 p-lg-8 top-0 end-0 d-none d-lg-block mw-100 position-absolute text-end"><img src="{% static 'assets/img/aboutus.jpeg' %}"  class="rounded-6" alt="About us" style="height:40%;width:40%;"></div>
            <div class="pt-6 m-lg-2 p-lg-10 col-lg-8 col-12 rounded-6 container-bg-2"><h5 class="fg-success-1  p-4 pt-lg-4">
                    Minimizing landfills 
                </h5>
                <div class="container-bg-2"><ul><li class="pe-lg-14 me-lg-10 body-lg">
                            Landfills are spreading across India at a fast pace making it more complex each day to manage the waste management value chain. 
                        </li>
                        <li class="pt-4 pt-lg-8 pe-lg-14 me-lg-10 body-lg">
                            But, this can be tackled only when we start waste management from our homes in the way of waste segregation. Waste segregation is the process of differentiating dry and wet waste and disposing of it into two different bins. 
                        </li>
                        <li class="pt-4 pt-lg-8 pe-lg-14 me-lg-10 body-lg">
                            We get the dry segregated waste recycled as you sell your scrap to us.  If we inculcate the habits of “avoiding tossing trash anywhere” and “adopting daily waste segregation”, remember we’re coming one step ahead in reducing landfills.
                        </li></ul></div>
                <h5 class="fg-success-1 pt-8">
                    Maximizing Recycling 
                </h5>
                <div class="container-bg-2"><ul><li class="pt-4 pe-lg-14 me-lg-10 body-lg">
                            To mark a larger impact, along with serving households, The Kabadiwala is a recycling partner to small to big businesses and corporates to institutions with the aim to build a conscious ecosystem on a societal level. 
                        </li>
                        <li class="pt-4 pt-lg-8 pe-lg-14 me-lg-10 body-lg">
                            To accelerate recycling, The Kabadiwala manages Bhopal city’s huge garbage dumps at 4 Material Recovery Facilities commonly known as MRF centers. Where every day, more than 50 kgs of waste are segregated by our waste workers.
                        </li>
                        <li class="pt-4 pt-lg-8 pe-lg-14 me-lg-10 body-lg">
                            The Kabadiwala’s campaigns with big organizations like Tetra Pak India and Indian Sleep products Federations (ISPF) based on recycling of daily utility products like Used beverage cartons and used mattresses respectively helps us maximize recycling extensively. 
                        </li></ul></div></div></div></div>
    <div class="container"><h4 class="pt-10 fg-default-2">
            The Replasify brings you
        </h4>
        <div class="pt-4 m-2 row"><div class="col-sm-4"><div class="pt-8 pb-6"><img src="{% static 'assets/img/collection.jpeg' %}"  alt="About us" style="height:100%;width:100%;"></div>
                <h6 class="pb-2 pt-7 fg-success-1">
                    Effortless Plastic Collection
                </h6>
                <div class="body-lg">
                     Easy scheduling for individuals and businesses to ensure hassle-free pickup of plastic waste.   
                </div></div>
            <div class="col-sm-4"><div class="pt-8 pb-6"><img src="{% static 'assets/img/plastic processing.jpg' %}"  alt="About us" style="height:100%;width:100%;" ></div>
                <h6 class="pb-2 pt-7 fg-success-1">
                    Recycling Solutions
                </h6>
                <div class="body-lg">
                    Recycling Solutions for All Tailored services for individuals and customized recycling plans for businesses to meet specific needs.
                </div></div>
            <div class="col-sm-4"><div class="pt-8 pb-6"><img src="{% static 'assets/img/product.jpg' %}"  alt="About us" style="height:100%;width:100%;" >
            </div>
            <h6 class="pb-2 pt-7 fg-success-1">
                    Eco-Friendly Products  
                </h6>
                <div class="pb-10 body-lg">
                    Explore a range of products created from recycled plastics—turning waste into something wonderful.
                </div></div></div></div>
                
    <div class="container"><div class="row m-2 container-bg-success-1 rounded-6"><div class="p-9 col flex-grow-1"><h4 class="fg-inverse-1">
                    The Way Forward
                </h4>
                <div class="p-4 pt-2 fg-inverse-1 body-lg">
                    We look forward to creating an ecosystem within the social system that of conscious waste disposal behavior, increased awareness that promotes waste segregation at source, and enthusiasm towards recycling as one of the effective waste solutions in India.    
                </div></div></div></div></main>
  
    
    <!--Blazor:{"prerenderId":"b91e3b2ea3474a84b690037c69ef340c"}-->
    
      </app>
      <script src="_framework/blazor.webassembly.js"></script>
      <script src="/_content/Cypher/scripts/interop.js"></script>
      <script src="/scripts/interop.js"></script>
      <!--Blazor-Component-State:e30=-->
    </body>
    </html>
    
  </main>

  {% include 'footer.html' %}
  {% comment %} <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html> {% endcomment %}